
#container{
    width: 50%;
    display: flex;
    flex-direction: column;
    
    margin: auto;
    margin-top: 50px;
    margin-bottom: 200px;
    padding: 25px;
    background-color: blanchedalmond;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
input{
    width: 85%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 15px;
   
}
label{
    
    font-size: 21px;
}
.inputClass{
    display: flex;
    justify-content: space-between;
}
button{
    width: 40%;
    padding: 5px;
    height: 50px;
    font-size: 21px;
    margin-top: 30px;
    margin: auto;
    border-radius: 50px;
    background-color: green;
    border: 1px solid green;
    cursor: pointer;
}
#add{
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 10px;
    display: flex;
}
#btn{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#err{
    margin-left: 100px;
    color: red;
    font-style: italic;
}

