@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");

#heading,
#signUp,
#continue {
  width: 27%;
  margin: auto;
  margin-bottom: 1%;
  text-align: center;
}
#signUp {
  padding: 1.5%;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.name {
  width: 80%;
  padding: 3%;
  border: none;
}

#continue {
  width: 29%;
  /* border: 1px solid red; */
}
#btn,
#btn2 {
  width: 100%;
  padding: 4%;
  background-color: tomato;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 3%;
}

.fas {
  color: rgba(128, 128, 128, 0.432);
}
#social {
  /* border: 1px solid grey; */
  display: flex;
  margin: auto;
  width: 29%;
  margin-top: 4%;
}
#hrleft,
#hrrigth {
  border: 1px solid rgba(128, 128, 128, 0.3);
  display: flex;
  width: 30%;
  height: 0.5%;
  margin-top: 10px;
}
#hrtext {
  border: 1px solid grey;
  display: flex;
  width: 40%;
  border-radius: 10px;
  padding-left: 3%;
  color: grey;
}
#socialAccount {
  /* border: 1px solid red; */
  display: flex;
  margin: 4%;
  width: 29%;
  margin: auto;
  justify-content: space-between;
  cursor: pointer;
}
#fb,
#google {
  padding: 0.1%;
  margin: 5% 0;
  width: 43%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
h3,
.p {
  text-align: center;
}
.p,
.h5 {
  font-size: 12px;
  color: grey;
}
.p > a,
h3 > a {
  color: tomato;
}
#signemail {
  font-size: 18px;
}
#offerdiv {
  font-family: "Luxurious Script", cursive;
  font-size: 40px;
  font-weight: 700;
  color: grey;
  border: 1px solid rgba(128, 128, 128, 0.39);
  width: 29%;
  margin: auto;
  text-align: center;
  padding: 0.1%;
  border-radius: 5px;
}
.otpdiv {
  display: none;
}
#message {
  color: tomato;
  font-size: 15px;
}
.signbtn {
  display: none;
}
