body{
    background-color: rgba(0, 0, 0, 0.267)
}
#container{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color:white;
    
    margin: auto;
    margin-top: 50px;
    margin-bottom: 200px;
    padding: 25px;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
input{
    width: 85%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 15px;
    border: 0.5px solid rgb(209, 209, 209);
    border-radius: 5px;
   
}
label{
    
    font-size: 21px;
}
.inputClass{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    width: 40%;
    padding: 5px;
    height: 50px;
    font-size: 21px;
    margin-top: 30px;
    margin: auto;
    border-radius: 50px;
    background-color: tomato;
    color: white;
    border: 1px solid green;
    cursor: pointer;
    font-weight: bolder;
}
#add{
    font-size: 25px;
    margin-bottom: 50px;
    
}
#btn{
    display: flex;
   
    margin-top: 10px;
}
#err,#bottomerr{
    
    color: red;
    font-style: italic;
    font-size: 25px;
}
h2{
    background-color: rgb(223, 223, 223);
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    
}

