*{margin:0;padding:0;}
#cart-container {
    width: 90%;
    margin: 150px auto;
    display: flex;
    justify-content: space-between;
    gap:2rem;
    /* border: 1px solid black; */
}

#div2{
    display:flex;
    flex-direction: column;
    gap:0.8rem;
    /* border: 1px solid red; */
    
}
#cart-container img{
 height: 20%;
}
#sizes{
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
#sizes>span{
    border: 1px solid black;
    border-radius:1.5rem;
    padding:1rem;
    cursor: pointer;
}

#sizes>span:hover{
    background-color: black;
    color: white;
}

#price{
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
}
#price>h3:last-child{
    color: tomato;
}
#price>h3:nth-child(2){
    color: grey;
    text-decoration: line-through;
}
#div2>*:nth-child(6){
    background-color:#f5f5f5;
}
#div2>*:last-child{
    display: flex;
    align-items: center;
    gap:1rem;
    /* border: 1px solid black; */
}
#div2>*:last-child>i{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:#f5f5f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* border: 1px solid black; */
    cursor: pointer;
}

.heart:hover,.share:hover{
    color: red;
}

#div2 button{
    border: none;
    padding: 0.8rem;
    background-color:black;
    color: #fff;
    font-size:1.1rem;
    font-weight:bold;
    max-width: 250px;
    cursor: pointer;
}
#imgs{
    display: flex;
    width: 20%;
    
}

#mainImg{
    /* border: 1px solid rgb(190, 190, 190); */
    width: 100%;
    height: 40%;
    margin: auto;
    /* margin-top: 10px; */
    
}
#mainImg>img{
    width: 70%;
    height: 100%;
    margin: auto;
    margin-left: 110px;
    object-fit: contain;
    margin-top: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}

#imgs>img{
    margin-left: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}