#box{
    display: flex;
    flex-wrap: wrap;
    width: 79%;
    margin: auto;
    /* border: 1px solid green;   */
}
.cardDiv{
    width: 23%;
    margin-left: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 50px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}
.cardDiv:hover{
    transform: scale(1.05);
    transition:0.2s all ease-in;
}
.cardDiv>img{
    width: 100%;
}
.priceDiv{
    display: flex;
    margin-top:-20px;
    /* border: 1px solid red; */
}
.cardDiv>p,.cardDiv>h3,.priceDiv{
    margin-left: 8px;
    margin-right:8px;
}
.cardDiv>p{
    margin-top: -15px;
}
.cardDiv>h3{
    margin-top: -1px;
}

.dis{
    color: red;
    margin-left: 8px;
}

.offPrice{
    margin-left: 8px;
    color: rgb(144, 144, 144);
    text-decoration: line-through;
    /* border: 1px solid black; */
}
#heading{
    width: 46%;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
    
}
#heading>h4{
    margin-left: 19px;
    font-size: 22px;
    color: rgb(112, 112, 112);
    
}
h1{
    font-style: italic;
}
#productAndFunc{
    display: flex;
    width: 80%;
    margin: auto;
    
}
#functionality{
    width: 19%;
    
}
#sortbrand,#sortprice,#sortoffer,#sortColor,#sortDelivery{
    display: none;
    margin-left: 10px;
    cursor: pointer;
    
}
#functionality>p{
    display: flex;
    justify-content:space-between;
    cursor: pointer;
    border-bottom: 1px solid #80808065;
    padding-bottom: 1rem;    
    font-weight: bold;
}


#slider{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 190px;
}
/* #fa1{
    margin-left: 150px;
}
#fa2{
    margin-left: 160px;
}
#fa3{
    margin-left: 165px;
}
#faa4{
    margin-left: 155px;
}
#fa5{
    margin-left: 83px;
} */