.carousel {
    position: relative;
    width: 100vw;
    height: 28vw;
    margin: 0 auto;
}

.carousel-slide>img {
    width: 100%;
    height: 100%;
}

.carousel-track-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.carousel-track {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 0;
}

.carousel-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb;
    cursor: pointer;
    border: none;
    margin: .5%;
    border-radius: 5px;
    position: relative;
}

.carousel-indicator.current-slide {
    background-color: #f22
}



#container>* {
    margin-top: 1.5rem;
}

.banner-1 {
    width: 100%;
}

.banner-1>img {
    width: 100%;
}

.widget-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 1vw;
}

.widget-2 {
    display: flex;
    flex-wrap: wrap;
    grid-auto-flow: column;
    justify-content: center;
    width: 100vw;
}