* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica\ Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

body {
    background-color: #f8f8f8 !important;
}

#container>* {
    margin-top: 1.5rem;
}

.banner-1 {
    width: 100%;
}

.banner-1>img{
    width: 100%;
}

.widget-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap:1vw;
}

.widget-2 {
    display: flex;
    flex-wrap: wrap;
    grid-auto-flow: column;
    justify-content: center;
    width: 100vw;
}

.footer-banner {
    width: 100vw;
    margin:0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content:center;
    gap:5vw;
}
#footer-banner-1{
    background-color: #f9f9fa;

}
#footer-banner-2{
    background-color: #fff;
}
.footer-banner>img{
    overflow: hidden;
}