@media screen and (min-width:0) and (max-width:550px){

.sub-inside-box-2>div:not(:last-child){
    display: none
}

.search-icon-div{
    border: none;
    /* border: 1px solid green; */
    width: 100%;

}
.sub-inside-box-2{
    /* border: 1px solid brown; */
    width: 10%;
}

.inside-box-1{
    /* border: 1px solid red; */
    width: 15%;
}
.inside-box-1>div:not(:last-child){
display: none
}

.category-icon{
    visibility: visible
}

.hide{
    display: none
}

.sub-inside-box-1{
    /* border: 1px solid black; */
    height: 20px;
    width:500px;
}

.sub-inside-box-3{
    /* border: 1px solid black; */
    width: 140px;
    justify-content: space-between;
}
.sub-inside-box-3>span:last-child{
    display: none;
}

.logo{
    height: 100%;
    width: 100%
}

.inside-box-2{
    /* border: 1px solid green; */
    width: 75%;
    
}
.sz{
    font-size: 20px;
}

.links{
    width: 100%;
    padding: 5px;
    align-items: flex-start;
    overflow: scroll;
}

#brands,#luxe{
    display: none;
}

ul{
    /* border: 1px solid black; */
    gap: 30px;
    /* width: 100%; */
    margin-left: 175px;
    padding-left: 5px;
}

ul li{
    cursor: pointer;
}
.links >ul >li{
    /* border: 1px solid green; */
    height: 100%;
}

.list-img{
    display: flex
}



};